@charset "UTF-8"

@font-face {
    font-family: 'Droid';
    src: url(fontes/idroid.otf);
}

@font-face {
    font-family: 'bebas neue';
    src: url(fontes/BebasNeue-Regular.otf);
}



* {
    width: auto;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #83e1ad;
    margin: 0px;
}

h1 {
    font-family: bebas neue;
    font-weight: lighter;
}

header {
    background-image: linear-gradient(to bottom, #c5ebd6, #83e1ad, #3ddc84, #2fa866, #063d1e);
    color: white;
    text-align: center;
    padding-top: 10px;
}

nav {
    text-align: left;
    padding: 3px;
    
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 10px;
}

nav > a {
    text-decoration: none;
    color: #83e1ad;
    font-weight: lighter;
    margin-left: 10px;
    padding: 3px 5px 3px 5px;
}

nav > a:hover {
    background-color: #063d1e;
    text-decoration: solid;
}

main {
    background-color: white;
    text-align: center;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    padding-top: 1px;
    padding-bottom: 25px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.137);
    text-align: justify;
    text-indent: 30px;

}



h2 {
    color: #063d1e;
    font-family: droid;
    text-align: left;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 15px;
    margin-bottom: 20px;
}

h3 {
    background-image: linear-gradient(to right, #83e1ad, #c5ebd6, white);
    color: #063d1e;
    font-family: droid;
    text-align: left;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
 
}

article {
    margin-left: 20px;
    margin-right: 20px;
    text-indent: 30px;
}

h6 {
    color: white;
    padding-bottom: 20px;
    font-weight: lighter;
}

h6#principal {
    background-color: #2fa866;
    margin: 5px 0px 5px 0px;
    padding: 7px 0px 7px 0px;
    border-radius: 10px 10px 0px 0;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.418);
}

iframe {
    background-image: linear-gradient(to bottom, #2fa866, #063d1e);
    padding: 25px;
    width: 87%;
    height: 90%;
    
}

aside {
    background-color: #83e1ad;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
    border-radius: 20px;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.219);
}

aside > p > a#link {
    font-weight: bold;
    color: #063d1e;
    text-decoration: none;
}

aside > p > a#link:hover {
    color: #2fa866;
    text-decoration: underline;
}

div {
    display: inline-block;
    margin-left: 0px;
    margin-bottom: 20px;
}

div > p :hover {
    color: #2fa866;
}

div#second {
    margin-left: 0px;
}

div > p > a {
    color: #063d1e;
}

footer {
    text-align: center;
    background-color: #063d1e;
    color: #2fa866;

    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 6px;
}

footer > p > strong {
    color: white;
    font-weight: lighter;
}